
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Playwrite+NZ+Guides&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
  box-sizing: border-box;

}
body{
    background-color: rgb(0, 0, 0);
}
.container{
    margin-top: 0.5em;
    background-color:black; 
    border-radius: 2rem;
}
.nav-items{
    margin-left: 22rem;
   margin-top: -10rem;
 animation: header 1s forwards;
}
@keyframes header {
    from{
        margin-top: -10rem;
    }
    to{
      margin-top: 0rem;
    }
}
.item{
    list-style-type: none;
    display:  inline-block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-family: "Raleway", sans-serif;
    border-radius: 2rem; 
       margin-bottom: 1rem;
       border: 1px solid #ade95a;
       padding:0.3rem ;
       padding-left: 1rem;
       padding-right: 1rem;
       background-color: #ade95a;
      
      
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    font-size: 1.8rem;
    border-bottom: 1px solid black;
}
.card-2{
    background-color: rgb(0, 0, 0);
    /* width: 80rem; */
    padding: 10%;
   display: flex;
    
}
.round{
    background-color: #ade95a;
    width: 400px;
    height: 400px;
    border-radius: 50%;
   position: relative;
   left: 100%;
   animation: round 1s ;
   animation-direction: reverse;
   animation-fill-mode: forwards;
    box-shadow: 10px 10px 100000px 70px #ade95a63;
}
@keyframes round {
    to{
        left: 100%;
    }
    from{
    left: 65%;
    }
}
.card-2-text h1{
    margin-left: -20rem;
    margin-top: -2rem;
    font-size: 5rem;
    line-height: 5rem;
    color: white;
    background-color: transparent;
   
}
.card-2-text p{
    margin-left: -20rem;
    font-size: 2rem;
    line-height: 3rem;
    color: rgb(88, 86, 86);
}
.card-2-text{
    position: relative;
    left: -30%;
    animation: text-round 1s ;
   animation-direction: reverse;
   animation-fill-mode: forwards;
   top: 5rem; 
}
@keyframes text-round {
    to{
        left: -30%;
    }
    from{
    left: 0%;
    }
}
/* ----------------------------- */
.education{ 
    background-color: rgb(0, 0, 0);
   padding-left: 50%;
   padding-right: 50%;
   padding-bottom: 50%;
}
.em em{
    font-size: 2rem;
}
.info-1{
  
     width: 100rem;
  height: 15rem;
    padding: 1rem;
    font-size: 3rem;
     background-color: #ade95a;
     color: rgb(0, 0, 0);
     transition: all 1s;
     animation: box-2 1s  1  forwards;
     position: relative;
     left: -42rem;
}
.info-2{
   
    width: 100rem;
  height: 15rem;
    padding: 1rem;
    font-size: 3rem;
     background-color: #000000;
     color: white;
     transition: all 1s;
     animation: box-2 1s  1  forwards;
     position: relative;
     left: -42rem;
    
}

.info-3{
   
    width: 100rem;
  height: 15rem;
    padding: 1rem;
    font-size: 3rem;
     background-color: #ade95a;
     color: rgb(0, 0, 0);
     transition: all 1s;
     animation: box-3 1s  1  forwards;
     position: relative;
     left: -42rem;
}

/* ------------------------------------------------- */
.info-4{
  
    width: 30rem;
    margin-left: -30rem;
    margin-top: -35rem;
    text-align: center;
    padding: 5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
     background-color: rgb(253, 58, 90);
     color: white;
     transition: all 1s;
     animation: box 1s  1  forwards;
}
.clr{
   background-color: #ade95a;
}
@keyframes box {
    to{
        margin-left:-15rem;
    }
    from{
        margin-left:  -30rem;
    }
}
.info:hover{
    transform: scale(1.2);
}
.blank{
    background-image: linear-gradient(rgb(236, 37, 70),rgb(223, 17, 144),rgb(230, 48, 48));
   opacity: 0;
    width: 30rem;
    position: absolute;
    left: 32%;
    top:27% ;
    height: 25rem;
    border-radius:2rem ;
    transition: opacity 0.4s;
}
.blank:hover{
    opacity: 0.7;
}
 .blank button{
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    position: absolute;
    left: 10rem;
    top: 13rem;
    background-color: transparent;
    border:1px solid white;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    opacity: 1;
    transition: all 0.4s;

}
